.Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	position: relative;
}

.Auth {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	padding: 10px;
	margin: auto 0;
}

.AuthFooter {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 20px;
}
