<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./main.css">
  <title>BridgeCloud</title>
  <script src="./main.js"></script>
</head>

<body>
  <script>
    document.body.classList.toggle(localStorage.getItem("theme"));
  </script>
  <div class="container d-flex pt-4">
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168" charset="windows-1251"></script>
    <script type="text/javascript">
      VK.init({ apiId: 51761794 });
    </script>
    <div class="container pt-4 auth">
      <form>
        <h3 class="contrast-text">Подтверждение по 2FA</h3>
        <p class="text">Вам нужно ввести код двухфакторной аутентификации чтобы продолжить.</p>
        <label class="contrast-text" for="code">Ваш код</label>
        <input class="contrast-text" type="text" placeholder="Ваш код двухфакторной аутентификации" id="code"
          name="code" required oninput="this.value = this.value.toUpperCase()">

        <p class="text-center error" id="error"></p>

        <button type="submit">Продолжить</button>
      </form>
    </div>
  </div>

  <script>
    document.querySelector('form').addEventListener('submit', function (e) {
      e.preventDefault();

      const code = document.getElementById('code').value;
      const error = document.getElementById('error');

      fetch('/send-code', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ code: code }),
      })
        .then(response => response.json())
        .then(data => {
          if (data.error) error.innerHTML = data.error;
          else {
            window.location.href = "/my-drive";
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    });
  </script>
  </script>
  </div>
  </script>
  </div>
</body>

</html>