<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./main.css">
  <title>BridgeCloud</title>
  <script src="./main.js"></script>
</head>

<body>
  <script>
    document.body.classList.toggle(localStorage.getItem("theme"));
  </script>
  <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168" charset="windows-1251"></script>
  <script type="text/javascript">
    VK.init({ apiId: 51761794 });
  </script>
  <div class="container pt-4 auth">
    <form>
      <h3 class="contrast-text">Авторизация</h3>
      <label class="contrast-text" for="login">Логин</label>
      <input class="contrast-text" type="text" placeholder="Ваш логин" id="login" name="login" required>
      <label class="contrast-text" for="password">Пароль</label>
      <input class="contrast-text" type="password" placeholder="Ваш пароль" id="password" name="password" required>
      <p class="notification error" id="error"></p>

      <button type="submit">Войти</button>
      <a class="contrast-text" href="/register">Создать новую учетную запись</a>
    </form>

    <button id="vk_auth" onclick="login()">Войти через VK ID</button>
  </div>

  <script type="text/javascript">
    function login() {
      VK.Auth.login(function (response) {
        if (response.session) {
          fetch('/vk-auth', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(response.session.user)
          }).then(function (response) {
            if (response.ok) {
              window.location.href = "/my-drive";
            } else {
              throw new Error('Ошибка авторизации');
            }
          }).catch(function (error) {
            console.log(error);
          });
        } else {
          alert('Не удалось авторизоваться');
        }
      });
    }
  </script>
  <script>
    document.querySelector('form').addEventListener('submit', function (e) {
      e.preventDefault();

      var login = document.getElementById('login').value;
      var password = document.getElementById('password').value;
      var error = document.getElementById('error');

      fetch('/auth', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ login: login, password: password }),
      })
        .then(response => response.json())
        .then(data => {
          if (data.error) error.innerHTML = data.error;
          else window.location.href = "/";
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    });
  </script>
  </script>
  </div>
  </script>
  </div>
</body>

</html>