<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <link rel="stylesheet" href="./main.css">
    <title>BridgeCloud</title>

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container d-flex row pt-4">
        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src=<%=photo %> alt="">
                    </span>
                    <div class="text logo-text">
                        <span class="name" id="username">
                            <%= name %>
                        </span>
                    </div>
                </div>

                <i class='bx bx-chevron-right toggle'></i>
            </header>

            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="/my-drive#nav-disk">
                                <i class='bx bx-home-alt icon'></i>
                                <span class="text nav-text">Главная</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="/my-drive#nav-recent">
                                <i class='bx bx-time-five icon'></i>
                                <span class="text nav-text">Недавние</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="/my-drive#nav-favourite">
                                <i class='bx bx-star icon'></i>
                                <span class="text nav-text">Избранные</span>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="bottom-content">
                    <li class="">
                        <a href="/settings">
                            <i class='bx bx-cog icon'></i>
                            <span class="text nav-text">Настройки</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="/logout">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Выход</span>
                        </a>
                    </li>

                    <li class="mode">
                        <div class="sun-moon">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Тёмная тема</span>
                        <div class="toggle-switch">
                            <span class="theme-switch"></span>
                        </div>
                    </li>

                </div>
            </div>
        </nav>


        <div class="workspace settings">
            <section class="px-5 py-4">
                <h1 class="contrast-text">Настройки</h1>
            </section>

            <section class="px-5 py-4">
                <h1 class="contrast-text">Пароль</h1>
                <form id="change-password">
                    <label class="contrast-text" for="login">Логин</label>
                    <input class="contrast-text" type="text" placeholder="Ваш логин" id="login" required>

                    <label class="contrast-text" for="old-password">Старый пароль</label>
                    <input class="contrast-text" placeholder="Ваш старый пароль" id="old-password" required>

                    <label class="contrast-text" for="new-password">Новый пароль</label>
                    <input class="contrast-text" type="password" placeholder="Ваш новый пароль" id="new-password"
                        required>
                    <p class="text-center error" id="password-error"></p>
                    <p class="text-center success" id="password-message"></p>

                    <button type="submit">Изменить</button>
                </form>
            </section>

            <section class="px-5 py-4">
                <h1 class="contrast-text">Подтверждение аккаунта</h1>
                <p class="text py-4">Вы можете подтвердить аккаунт, чтобы получить возможность:</p>
                <ul class="text px-5">
                    <li>Получать файлы прямиком в ЛС</li>
                    <li>Быстро авторизироваться через VK ID</li>
                    <li>Завершать все сеансы</li>
                    <li>Подключить 2FA</li>
                </ul>
                <p class="text py-4">чтобы подтвердить аккаунт, вам необходимо: </p>
                <ul class="text px-5">
                    <li>Написать любое сообщение <a class="contrast-text" href="https://vk.com/im?sel=-222835476">нашему
                            боту</a>.</li>
                    <li>Нажать подтвердить.</li>
                </ul>
                <form class="py-4" action="/check-verification" method="post">
                    <button>Подтвердить</button>
                </form>
            </section>
            <form class="py-4" method="post" action="/delete-account">
                <button type="submit">Удалить аккаунт</button>
            </form>
        </div>

        <script>
            const body = document.querySelector('body'),
                sidebar = body.querySelector('nav'),
                toggle = body.querySelector(".toggle"),
                modeSwitch = body.querySelector(".toggle-switch"),
                modeText = body.querySelector(".mode-text");
            toggle.addEventListener("click", () => {
                sidebar.classList.toggle("close");
            })
            modeSwitch.addEventListener("click", () => {
                body.classList.toggle("dark");
                if (body.classList.contains("dark")) {
                    modeText.innerText = "Светлая тема";
                    localStorage.setItem('theme', 'dark');
                } else {
                    modeText.innerText = "Тёмная тема";
                    localStorage.setItem('theme', 'light');
                }
            });
        </script>

        <footer>
            <script src="./main.js"></script>


            <script>
                document.body.classList.toggle(localStorage.getItem("theme"));
            </script>
        </footer>
</body>

</html>